
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns:repeat(2,200px);
	grid-template-rows:repeat(2,200px);
}
.item-1{
	background-color:yellow;
}
.item-2{
	background-color:red;		
}
.item-3{
	background-color:blue;
}
.item-4{
	background-color:green;
}

